<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   WebRotate 360
 * @package    WebRotate360_Catalog
 * @author     WebRotate 360 LLC
 * @copyright  Copyright (c) 2013 WebRotate 360 LLC. (http://www.webrotate360.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>

    <sections>
        <wr360_product_view translate="label" module="WebRotate360_Catalog">
            <label>WebRotate 360 Viewer</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>314</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>

            <groups>
                <readme translate="label">
                    <label>Readme</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
                    <p style=";margin:0 20px 15px 0;">
                    1) To start using this extension please first create a new product attribute (can be labeled
                    as 360 Viewer Path for example). Set the Attribute Code to <b>webrotate_path</b> and the catalog input type to Text Field. Assign the new attribute to the existing attribute sets where you are planing to use 360 views.
                    </p>
                    <p style=";margin:10px 20px 15px 0;">
                    2) There are two integration types included with this module: <b>Standard</b> and <b>Ad-hoc</b>. Standard integration will override the default implementation of the product media block
                    (the one that shows on the left side on the product pages with zoom and the gallery by default). It allows having a 360 view embedded in place of the main product image as well as showing the 360 view in a popup via
                    an extra thumbnail under the product image gallery. Image zooming is implemented via the prettyPhoto lightbox in both cases. </p>
                    <p style=";margin:10px 20px 15px 0;">
                    3) It's possible that your current Magento theme already overrides the product media block with a custom
                    implementation which may prevent WebRotate 360 extension from running in the standard integration mode or may result in this extension disabling any previous customization in the product media block that you would like to keep.
                    Ad-hoc integration can help in such situations as it doesn't override any existing block customizations. Instead it dynamically embed itself in place of an html placeholder of your choosing. This allows picking any location on a product page
                    and then either embed a 360 view inside the placeholder or show a small thumbnail graphic that can be clicked on to bring up a 360 view inside the prettyPhoto lightbox popup. This ad-hoc behavior is only activated
                    when a 360 view is configured for a given product under Catalog and can be used in conjunction with other customizations inside the product image area such as Cloud Zoom or similar.
                    </p>
                    <p style=";margin:10px 20px 20px 0;">
                    4) There's one sample 360 view included with this installation that you can use to test your integration. The sample is located under your default skin folder under webrotate360. To use this sample, just enter the following
                    URL into the new attribute field for your test product in the catalog: <b>skin/frontend/default/default/webrotate360/360assets/sampleshoe/config.xml</b>. Similarly, you would need to create your 360 views first and then upload
                    them to your Magento server via FTP. Then note the URL of each 360 config xml under uploaded folder(s) and enter each URL into the new attribute field for each product in the catalog accordingly.
                    </p>
                    <p style=";margin:10px 20px 15px 0;border-top: 1px solid #DFDFDF;padding-top:20px;">
                    <b>If you haven't created 360 views with WebRotate 360 Product Viewer before, please download our<a href="http://www.webrotate360.com/360-product-viewer.html">free software</a> and follow this simple<a href="https://www.youtube.com/watch?v=8XQi7_YfTdA">YouTube tutorial</a>.
                    You only need to upload the product folder(s) that are auto-created under 360_assets on publish in the software. For questions and support please visit our<a href="http://www.360-product-views.com/forum/">forum</a>.
                    </b></p>]]>
                    </comment>
                </readme>
                <settings translate="label">
                    <label>Global Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <include_jquery translate="label">
                            <label>Include jQuery</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If your Magento theme already includes jQuery, you may need to select No. If not sure, please leave as-is.]]></comment>
                        </include_jquery>
                        <popup_width translate="label">
                            <label>Viewer Width (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Viewer width in pixel (just numbers - no 'px'). If using the embed in place mode, can be also set to 100% when needed for responsive themes that scale.]]></comment>
                        </popup_width>
                        <popup_height translate="label">
                            <label>Viewer Height (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Viewer height in pixel (just numbers - no 'px').]]></comment>
                        </popup_height>
                        <pretty_theme translate="label">
                            <label>prettyPhoto Theme</label>
                            <frontend_type>select</frontend_type>
                            <source_model>WebRotate360_Catalog/Source_PrettyPhoto</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[prettyPhoto lightbox (popup theme).]]></comment>
                        </pretty_theme>
                        <popup_icon translate="label">
                            <label>360 Popup Icon Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Points to the alternative location of the 360 graphic. Optional and only applicable in the lightbox popup mode.]]></comment>
                        </popup_icon>
                        <master_config translate="label">
                            <label>Master Config URL (PRO)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Allows having a single viewer config XML file for all products with 360 views. Then only need to enter directory URL path under product in the catalog (requires a new attribute with code <b>webrotate_root</b>), pointing to the 360 product folder(s) on your server (or CDN). If not using Master Config, just enter XML config URL for each product under your catalog as per the readme.]]></comment>
                        </master_config>
                        <license translate="label">
                            <label>License Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[URL path to license.lic on this server (PRO and Enterprise). Click <a href="http://www.webrotate360.com/360-product-viewer.html" target="_blank">HERE</a> for more details.]]></comment>
                        </license>
                    </fields>
                </settings>
                <adhoc translate="label">
                    <label>Ad-hoc Integration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <use_adhoc translate="label">
                            <label>Enable Ad-hoc Integration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Refer to the readme section above for the details. You can select either Ad-hoc or Standard integration below but not both.]]></comment>
                        </use_adhoc>
                        <placeholder translate="label">
                            <label>Page Placeholder (id or class)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Any existing HTML element on your product page where the ad-hoc integration will embed (e.g, .product-img-box or can be element's #id).]]></comment>
                        </placeholder>
                        <embedded translate="label">
                            <label>Embed In Place</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If set to No, the viewer is not shown embedded inside the page placeholder. Instead, a small thumbnail graphic is inserted inside the placeholder which will then activate the prettyPhoto lightbox popup with a 360 view on click.]]></comment>
                        </embedded>
                    </fields>
                </adhoc>
                <standard translate="label">
                    <label>Standard Integration with Image Gallery</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[]]></comment>
                    <fields>
                        <use_standard translate="label">
                            <label>Enable Standard Integration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Refer to the readme section above for the details. You can select either Standard or Ad-hoc integration above but not both.]]></comment>
                        </use_standard>
                        <embedded translate="label">
                            <label>Embed In Place</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If set to No, the viewer is not shown embedded in place of the main product image. Instead, a small thumbnail graphic is added to the end of the product image gallery which will activate the lightbox popup with a 360 view on click.]]></comment>
                        </embedded>
                        <thumb_width translate="label">
                            <label>Gallery Thumbnail Width (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enter your preferred thumbnail width (just numbers - no 'px'). Should be the same as your CSS width for the gallery image class.]]></comment>
                        </thumb_width>
                        <thumb_height translate="label">
                            <label>Gallery Thumbnail Height (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enter your preferred thumbnail height (just numbers - no 'px'). Should be the same as your CSS height for the gallery image class.]]></comment>
                        </thumb_height>
                    </fields>
                </standard>
            </groups>
        </wr360_product_view>
    </sections>
</config>