<?xml version="1.0" encoding="UTF-8"?>
<config>    
    <modules>
        <ElicoCorp_Search>
            <version>0.2.0</version>
        </ElicoCorp_Search>
    </modules>
    <global>
        <blocks>
            <search>
                <class>ElicoCorp_Search_Block</class>
            </search>
        </blocks>
    </global>
    <frontend>
        <routers>
            <search>
                <use>standard</use>
                <args>
                    <module>ElicoCorp_Search</module>
                    <frontName>search</frontName>
                </args>
            </search>
        </routers>  
    </frontend>
</config> 
